*.sln
*.csproj
bin/
obj/
.vs/
Payroll Software/Payroll Software/Properties/PublishProfiles/FolderProfile.pubxml.user
Payroll Software/Payroll Software/Properties/PublishProfiles/FolderProfile.pubxml
Payroll Software/Payroll Software/Payroll Software.csproj.user
